body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
}


#right {
	margin-left: 200px;
}



.forecast {
	max-width: 250px;
	max-height: 500px;
}

.container {
	padding: 0;
	margin: 0;
}