body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
}

#left {
	min-height: 1vh;
	max-width: 500px;
}

#right {
	margin-left: 200px;
}

.card {
	max-width: 1000px;
}

.forecast {
	max-width: 250px;
	max-height: 500px;
}

.container {
	padding: 0;
	margin: 0;
}